<h1>Deck: <%= @name %></h1>
<p>Find me in app/views/deck/index.html.erb</p>
<p><%= @description %></p>

<!-- Deck info on Types is important, but this doesn't work
<strong>Stats:</strong>
<ul>
  <% @stats['types'].each do |type, count| %>
  <li><%= type %> <%= count %></li>
  <% end %>
</ul>
closed comment-->

<strong>Main Deck:</strong>
<ul>
  <% @deck['main'].each do |name, details| %>

    <li>
      <% details['count'].to_i.times do %>
        <% if details['data'].nil? %>
        NO KNOWN CARD FOR <%= name %>.
        <% else %>
        <img src="<%= details['data'].image_url %>">
        <% end %>
      <% end %>
      <br/>
    </li>
  <% end %>
</ul>


<strong>Sideboard:</strong>
<ul>
  <% @deck['sideboard'].each do |name, details| %>
    <li>
      <br/>
   <% details['count'].to_i.times do %>
      <img src="<%= details['data'].image_url %>">
      <% end %>
    </li>
  <% end %>
</ul>
