<h1>Deck: <%= @name %></h1>
<p>Find me in app/views/deck/index.html.erb</p>
<p><%= @description %></p>

<strong>Main Deck:</strong>
<ul>
  <% @deck['main_deck'].each do |name, details| %>

    <li>
      <% details['count'].to_i.times do %>
        <% if details['card'].nil? %>
        NO KNOWN CARD FOR <%= name %>.
        <% else %>
        <img src="<%= details['card'].image_url %>">
        <% end %>
      <% end %>
      <br/>
    </li>
  <% end %>
</ul>


<strong>Sideboard:</strong>
<ul>
  <% @deck['sideboard'].each do |name, details| %>
    <li>
      <br/>
   <% details['count'].to_i.times do %>
      <img src="<%= details['card'].image_url %>">
      <% end %>
    </li>
  <% end %>
</ul>
